{
	"arrowParens": "always",
	"bracketSpacing": true,
	"bracketSameLine": true,
	"trailingComma": "all",
	"endOfLine": "auto",
	"printWidth": 80,
	"quoteProps": "as-needed",
	"useTabs": true,
	"tabWidth": 2,
	"svelteSortOrder": "scripts-markup-options-styles",
	"svelteStrictMode": true,
	"svelteBracketNewLine": true
}
